<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso Django 1 - Produto</title>
</head>
<body>
    <center>
        <h3>Produto</h3>
            <h1>Produto</h1>
        <table>
            <thead>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.proco }}</td>
                    <td>{{ produto.estoque }}</td>
                </tr>
            </tbody>
        </table>
        <p><a href="{% url 'index' %}">Voltar</a></p>
    </center>
</body>
</html>